$primary: hsl(180, 29%, 50%);
$dark: hsl(180, 14%, 20%);

.filter-container {
    position: relative;
    top: -35px;
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    height: fit-content;
    min-height: 72px;
    margin: 0 auto;
    &--visible {
        visibility: visible;
    }

    @media only screen and (max-width: 1024px) {
        &--visible {
            margin-bottom: 18px;
        }
    }

    @media only screen and (max-width: 768px) {
        min-height: 66px;
    }
}

.delete-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    margin-right: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $primary;
    &:hover {
        background-color: $dark;
    }
}

.clear-button {
    font-size: 0.85em;
    font-weight: bold;
    align-self: center;
    height: fit-content;
    margin-right: -7px;
    color: $primary;
    border: 0;
    background-color: transparent;
    &:hover {
        text-decoration-line: underline;
    }
}
