$primary: hsl(180, 29%, 50%);
$dark: hsl(180, 14%, 20%);

.filter-container {
    position: absolute;
    top: -110px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    transform: translateX(-50%);
    filter: opacity(0);
    &--visible {
        filter: opacity(1);
    }
}

.delete-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $primary;
    &:hover {
        background-color: $dark;
    }
}

.clear-button {
    font-weight: bold;
    color: $primary;
    border: 0;
    background-color: transparent;
    &:hover {
        text-decoration-line: underline;
    }
}
