$primary: hsl(180, 29%, 50%);
$neutral-light: hsl(180, 31%, 95%);

.tablet-list {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding-top: 18px;
    padding-left: 0;
    list-style-type: none;
    &__li {
        height: 30px;
        margin-bottom: 18px;
        &--filter {
            display: flex;
            margin-right: 18px;
        }

        &--job {
            margin-left: 18px;
        }
    }

    &__tablet {
        font-size: 13px;
        font-weight: bold;
        padding: 8px;
        color: $primary;
        border: 0;
        background-color: $neutral-light;
        &--filter {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &--job {
            border-radius: 5px;
        }

        &:not(&--filter):hover {
            color: $neutral-light;
            background-color: $primary;
        }
    }
}

@media only screen and (max-width: 768px) {
    .tablet-list {
        padding-top: 14px;

        &__li {
            margin-bottom: 14px;

            &--filter {
                margin-right: 14px;
            }

            &--job {
                margin-right: 14px;
                margin-left: 0;
            }
        }
    }
}
