$primary: hsl(180, 29%, 50%);
$neutral-light: hsl(180, 31%, 95%);
$tablet-margin: 17px;

.tablet-list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
    &--filter {
        padding: 20px 0 0;
        .tablet-li {
            margin: 0 17px 19px 0;
        }

        .tablet {
            font-size: 0.85em;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    &--job {
        justify-content: flex-end;
        padding: 17px 0 0;
        .tablet-li {
            margin: 0 0 17px 17px;
            &:first-child {
                margin-left: 0;
            }
        }

        .tablet {
            font-size: 0.8125em;
            border-radius: 5px;
            &:hover {
                color: $neutral-light;
                background-color: $primary;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        padding-top: 19px;

        &--filter {
            .tablet-li {
                margin-right: 14px;
            }
        }

        &--job {
            .tablet-li {
                margin-right: 14px;
                margin-left: 0;
            }
        }
    }
}

.tablet-li {
    display: flex;
    align-items: center;
    height: 33px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 14px;
    }
}

.tablet {
    font-weight: bold;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0 8px;
    color: $primary;
    border: 0;
    background-color: $neutral-light;
}
