$primary: hsl(180, 29%, 50%);
$neutral-light: hsl(180, 31%, 95%);
$tablet-margin: 17px;

.tablet-list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 17px 0 0;
    list-style-type: none;
    &--filter {
        .tablet-li {
            margin: 0 17px 17px 0;
        }

        .tablet {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    &--job {
        justify-content: flex-end;
        .tablet-li {
            margin: 0 0 17px 17px;
            &:first-child {
                margin-left: 0;
            }
        }

        .tablet {
            border-radius: 5px;
            &:hover {
                color: $neutral-light;
                background-color: $primary;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        padding-top: 14px;

        &--filter {
            .tablet-li {
                margin-right: 14px;
            }
        }

        &--job {
            .tablet-li {
                margin-right: 14px;
                margin-left: 0;
            }
        }
    }
}

.tablet-li {
    display: flex;
    height: 33px;

    @media only screen and (max-width: 768px) {
        margin-bottom: 14px;
    }
}

.tablet {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: $primary;
    border: 0;
    background-color: $neutral-light;
}
