$primary: hsl(180, 29%, 50%);
$dark: hsl(180, 14%, 20%);

.filter-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
}

.filter-container {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.filter-list {
    &__item {
        display: flex;
        height: 30px;
        margin-right: 18px;
    }
}

.delete-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $primary;
    &:hover {
        background-color: $dark;
    }
}

#clear-button {
    font-weight: bold;
    color: $primary;
    border: 0;
    background-color: transparent;
    &:hover {
        text-decoration-line: underline;
    }
}
