$primary: hsl(180, 29%, 50%);
$neutral-light: hsl(180, 31%, 95%);
$neutral-dark: hsl(180, 8%, 52%);
$dark: hsl(180, 14%, 20%);

.job-listing {
    display: grid;
    height: 150px;
    border-left: 5px solid $primary;
    grid-template-columns: 115px repeat(2, auto);
    grid-template-rows: repeat(3, 50px);
    &__logo {
        margin: auto 0;
        grid-row: 1 / -1;
        grid-column: 1;
    }

    &__top {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: baseline;
        align-self: end;
        margin: 0;
        grid-row: 1;
        grid-column: 2;
    }

    &__company {
        color: $primary;
    }

    &__badge {
        font-size: 9px;
        display: block;
        padding: 8px 9px 6px;
        text-transform: uppercase;
        color: $neutral-light;
        border-radius: 20px;
        &--new {
            margin: 0 6px 0 17px;
            background-color: $primary;
        }
        &--featured {
            background-color: $dark;
        }
    }

    &__title {
        font-size: 17px;
        font-weight: bold;
        align-self: center;
        margin: 0;
        grid-row: 2;
        grid-column: 2;
        a {
            color: $dark;
            text-decoration-line: none;
            &:hover {
                color: $primary;
            }
        }
    }

    &__info {
        font-size: 14px;
        align-self: start;
        margin: 0;
        color: $neutral-dark;
        grid-row: 3;
        grid-column: 2;
    }

    &__categories-list {
        align-self: center;
        justify-self: end;
        grid-row: 2;
        grid-column: 3;
    }
}
