$primary: hsl(180, 29%, 50%);
$neutral-bg: hsl(180, 52%, 96%);

body {
    margin: 0;
    background-color: $neutral-bg;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

#filter-list {
    display: flex;
    list-style-type: none;
    li {
        padding-right: 30px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}
