$primary: hsl(180, 29%, 50%);
$neutral-bg: hsl(180, 52%, 96%);

body {
    font-family: "Spartan", sans-serif;

    margin: 0;
    background-color: $neutral-bg;
}

button {
    font-family: "Spartan", sans-serif;
}

.banner {
    height: 160px;
    background-color: $primary;
    background-image: url("../images/bg-header-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

#filter-list {
    display: flex;
    list-style-type: none;
    li {
        padding-right: 30px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        background-image: url("../images/bg-header-mobile.svg");
    }
}
