.filter-container {
  position: relative;
  top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.filter-container--visible {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.delete-filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 0;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #5ba4a4;
}

.delete-filter-button:hover {
  background-color: #2c3a3a;
}

.clear-button {
  font-weight: bold;
  color: #5ba4a4;
  border: 0;
  background-color: transparent;
}

.clear-button:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.job-listing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 88px minmax(250px, 1fr) auto;
      grid-template-columns: 88px minmax(250px, 1fr) auto;
  -ms-grid-rows: (50px)[3];
      grid-template-rows: repeat(3, 50px);
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.job-listing--featured {
  border-left: 5px solid #5ba4a4;
}

.job-listing__logo {
  margin: auto 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.job-listing__top {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-item-align: end;
      align-self: end;
  margin: 0;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.job-listing__company {
  color: #5ba4a4;
}

.job-listing__badge {
  font-size: 9px;
  display: block;
  padding: 8px 9px 6px;
  text-transform: uppercase;
  color: #eef6f6;
  border-radius: 20px;
}

.job-listing__badge--new {
  margin: 0 6px 0 17px;
  background-color: #5ba4a4;
}

.job-listing__badge--featured {
  background-color: #2c3a3a;
}

.job-listing__title {
  font-size: 17px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.job-listing__title a {
  color: #2c3a3a;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.job-listing__title a:hover {
  color: #5ba4a4;
}

.job-listing__info {
  font-size: 14px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
  color: #7b8e8e;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.job-listing .tablet-list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media only screen and (max-width: 768px) {
  .job-listing {
    padding-bottom: 14px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 70px (50px)[2] auto;
        grid-template-rows: 70px repeat(2, 50px) auto;
  }
  .job-listing__logo {
    position: relative;
    bottom: 35px;
    width: 70px;
    height: 70px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .job-listing__top {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .job-listing__title {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .job-listing__info {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .job-listing .tablet-list {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    border-top: 1px solid #7b8e8e;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media only screen and (max-width: 425px) {
  .job-listing {
    -ms-grid-rows: 60px (50px)[2] auto;
        grid-template-rows: 60px repeat(2, 50px) auto;
  }
  .job-listing__logo {
    bottom: 30px;
    width: 50px;
    height: 50px;
  }
}

.tablet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding-top: 18px;
  padding-left: 0;
  list-style-type: none;
}

.tablet-list > *:not(:last-child) {
  margin-right: 20px;
}

.tablet-list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-bottom: 18px;
}

.tablet-list__li--filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
}

.tablet-list__li--job {
  margin-left: 18px;
}

.tablet-list__tablet {
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  color: #5ba4a4;
  border: 0;
  background-color: #eef6f6;
}

.tablet-list__tablet--filter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tablet-list__tablet--job {
  border-radius: 5px;
}

.tablet-list__tablet:not(.tablet-list__tablet--filter):hover {
  color: #eef6f6;
  background-color: #5ba4a4;
}

@media only screen and (max-width: 768px) {
  .tablet-list {
    padding-top: 14px;
  }
  .tablet-list__li {
    margin-bottom: 14px;
  }
  .tablet-list__li--filter {
    margin-right: 14px;
  }
  .tablet-list__li--job {
    margin-right: 14px;
    margin-left: 0;
  }
}

body {
  font-family: "Spartan", sans-serif;
  margin: 0;
  background-color: #effafa;
}

button {
  font-family: "Spartan", sans-serif;
  cursor: pointer;
}

.banner {
  height: 160px;
  background-color: #5ba4a4;
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main,
footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}

.main-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 10px 8px rgba(91, 164, 164, 0.1);
          box-shadow: 0 10px 8px rgba(91, 164, 164, 0.1);
}

.jobs-container {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 75px auto 0 auto;
  grid-auto-columns: minmax(auto, 1100px);
  grid-auto-rows: auto;
  gap: 24px;
  grid-auto-flow: row;
}

.attribution {
  font-size: 11px;
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
  color: #7b8e8e;
}

.attribution a {
  color: #5ba4a4;
}

@media only screen and (max-width: 768px) {
  .banner {
    background-image: url("../images/bg-header-mobile.svg");
  }
  main {
    padding-right: 25px;
    padding-left: 25px;
  }
  .main-row {
    padding-right: 20px;
    padding-left: 20px;
  }
  .jobs-container {
    margin-top: 50px;
    gap: 40px;
  }
}
