body {
  font-family: "Spartan", sans-serif;
  margin: 0;
  background-color: #effafa;
}

button {
  font-family: "Spartan", sans-serif;
  cursor: pointer;
}

.banner {
  height: 160px;
  background-color: #5ba4a4;
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1100px;
  padding: 0 40px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 10px 8px rgba(91, 164, 164, 0.1);
          box-shadow: 0 10px 8px rgba(91, 164, 164, 0.1);
}

.jobs-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(auto, 1100px);
  grid-auto-rows: auto;
  gap: 24px;
  grid-auto-flow: row;
  margin-top: 40px;
  margin: 40px auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tablet-list {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 18px;
}

.tablet-list__tablet {
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  color: #5ba4a4;
  border: 0;
  border-radius: 5px;
  background-color: #eef6f6;
}

.tablet-list__tablet--label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tablet-list__tablet:not(.tablet-list__tablet--label):hover {
  color: #eef6f6;
  background-color: #5ba4a4;
}

.attribution {
  font-size: 11px;
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
  color: #7b8e8e;
}

.attribution a {
  color: #5ba4a4;
}

@media only screen and (max-width: 768px) {
  .banner {
    background-image: url("../images/bg-header-mobile.svg");
  }
}
