.tablet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding-top: 18px;
  padding-left: 0;
  list-style-type: none;
}

.tablet-list__tablet-container {
  margin-bottom: 18px;
}

.tablet-list__tablet {
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  color: #5ba4a4;
  border: 0;
  border-radius: 5px;
  background-color: #eef6f6;
}

.tablet-list__tablet--label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tablet-list__tablet:not(.tablet-list__tablet--label):hover {
  color: #eef6f6;
  background-color: #5ba4a4;
}

.job-listing__categories-list .tablet-list__tablet-container {
  margin-left: 18px;
}

@media only screen and (max-width: 768px) {
  .tablet-list {
    padding-top: 14px;
  }
  .tablet-list__tablet-container {
    margin-bottom: 14px;
  }
  .job-listing__categories-list .tablet-list__tablet-container {
    margin-right: 14px;
    margin-left: 0;
  }
}
